<%= form_for(@question) do |f| %>
  <% if @question.errors.any? %>
    <div class="alert alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <h2><%=@question.errors.count %> errores</h2>

      <ul>
      <% @question.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :title, "Título" %><br>
    <%= f.text_field :title, class:"form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :description, "Descripción" %><br>
    <%= f.text_area :description, class:"form-control" %>
  </div>
    <%= f.submit "Preguntar", class: "btn btn-primary" %>  
<% end %>
