<!-- <p id="notice"><%= notice %></p> -->

<div class="container-fluid">
  <h1>Preguntas</h1>
  <div class="row pull-right">
  <%= link_to "Nueva pregunta", new_question_path, class:"btn btn-primary" %>
  </div>
  <!-- <div class="table-responsive"> -->
    <table class="table">
<% @questions.each do |question| %>
      <tr>
        <td><span class="num_votes"><%= question.votes.count %></span> <br> Votos</td>
        <td><span class="num_answers"><%= question.answers.count %></span> <br> Respuestas</td>
        <td class="title_description"><%= link_to question.title, question, class:"title" %><br>
          <% date=question.created_at.strftime("%d %B de %Y") %>
          <%array=date.split(' ')%>
          <%downcased=array[1].downcase%>
          <%months={january: "enero", february:"febrero", march:"marzo", april: "abril"}%>
          <% a=[] %>
          <% months.each do |key, value| %>
          <%   if downcased==key.to_s %>
          <%     a << value %>
          <%   end %>
          <% end %>
          <%month= a.join('').capitalize %>
          <span class="who_asked">Preguntó <%= question.user.email %> <%='el'+' '+array[0]+' '+'de'+' '+month+' '+'del'+' '+array[3] %></span></td>
<!-- <%if question.user == current_user %>
        <td>
          <p class="blue">
          <span class="glyphicon glyphicon-pencil"></span> <%= link_to 'Editar', edit_question_path(question) %>
          <span class="glyphicon glyphicon-trash"></span> <%= link_to 'Eliminar', question, method: :delete, data: { confirm: '¿Estas seguro?' } %>
          </p>
        </td>
<%end%> -->
      </tr>
<% end %>
    </table>
  <!-- </div> -->
</div>

<!-- <%= link_to 'New Question', new_question_path %> -->
