<!-- <p id="notice"><%= notice %></p> -->

<div class="container-fluid">
<div class="questions_block">
<h2><strong><%= @question.title %></strong></h2>
<div class="row question_votes">
  <div class="col-md-1 col-xs-1 votes">
    <%=render partial: "votes/votes_question", :locals => {:@question => @question }%>
  </div>
  <div class="col-md-10 col-xs-11">
    <div class="row">
    <p class="description"><%= markdown(@question.description) %></p>
    </div>
  </div>
</div>

<div class="row comments_row">
    <div class="col-md-1 col-xs-1 votes"></div>
      <div class="col-md-10 col-xs-11">
        <p class="number_comment_answers"><strong><%= pluralize(@question.comments.count, "comentario")%></strong></p>
        <%= render partial: "comments/comments_question", :locals => {:@question => @question}%>
        <% if user_signed_in? %>
          <strong>Nuevo comentario a pregunta</strong>
          <%= render partial: "comments/form", :locals => { :origin => @question.comments.build, :a => @question}%>
        <%end%>
    </div>
</div>
</div>

<div class="answer_block number_comment_answers"><strong><%= pluralize(@question.answers.count, "respuesta ")%></strong></div>
<%@question.answers.each do |answer| %>
<div class="row answers_block">
<div class="row answer_votes">
  <div class="col-md-1 col-xs-1 votes">
    <%=render partial: "votes/votes_answers", :locals => {:answer => answer} %>
  </div>
  <div class="col-md-10 col-xs-11">
    <div class="row">
      <%= markdown(answer.body) %>
    </div>
  </div>
</div>

<div class="row answer_comments">
  <div class="col-md-1 col-xs-1 votes"></div>
  <div class="col-md-10 col-xs-11">
  <p class="number_comment_answers"><strong><%= pluralize(answer.comments.count, "comentario")%></strong></p>
  <%= render partial: "comments/comments_answer", :locals => {:answer => answer}%>
  <% if user_signed_in? %>
    <strong>Nuevo comentario a respuesta</strong>
    <%= render partial: "comments/form", :locals => { :origin => answer.comments.build, :a => answer}%>
  <%end%>
  </div>
</div>
</div>
<%end%>


  <% if user_signed_in? %>
    <div class="row new_answer">
      <strong>Nueva respuesta</strong>
      <%= render "answers/form"%>
      <!-- <%= link_to 'Edit', edit_question_path(@question) %> |
      <%= link_to 'Back', questions_path %> -->
    </div>
  <%end%>
  </div>
